*,
*::before,
*::after {
	box-sizing: border-box;
	font-style: normal;
}
body {
	font-style: 'Roboto', 'Raleway', 'san-serif';
	color: #757575;
	line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
	margin: 30px;
}
a {
	text-decoration: none;
	color: #212121;
}
ul,
ol {
	list-style-type: none;
}
h1,
h2,
h3 {
	color: #212121;
}
button {
	cursor: pointer;
}
.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.logo {
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 3%;
	text-align: left;
	top: 24px;
}
.logo-color {
	color: #2196f3;
}
header {
	padding: 10px 115px;
	height: 80px;
	max-width: 100%;
}
.heder-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.main-nav {
	display: flex;
	gap: 50px;
}
.main-nav a:hover,
:focus {
	color: #2196f3;
}
.main-nav a:active {
	color: #1168af;
	background-color: #ffffff;
}
.contact-nav {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	top: 15px;
}
.container-contact {
	color: #757575;
}
.container-contact:hover,
:focus {
	color: #2196f3;
}
.container-contact:active {
	color: #1168af;
	background-color: #ffffff;
}
.button-slogan {
	background-color: #2196f3;
	border: 0;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: #ffff;
	font-weight: 700;
	letter-spacing: 6%;
	text-align: center;
	position: absolute;
	width: 200px;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	top: 421px;
	bottom: 120px;
}
.button-slogan:hover,
:focus {
	background-color: #185b91;
}
.button-slogan:active {
	background-color: #0c304d;
}

.slogan {
	background-color: #2f303a;
	height: 600px;
	top: 80px;
}
.slogan h1 {
	color: rgb(255, 255, 255);
	font-family: 'Roboto';
	font-size: 44px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 6%;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	width: 696px;
	height: 120px;
	left: 50%;
	transform: translateX(-50%);
	top: 200px;
}
.prioriti-container {
	padding: 94px 115px;
}
.prioriti {
	display: flex;
	gap: 30px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.prioriti li {
	flex: 1;
	display: block;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 3%;
	text-align: left;
}
.prioriti li h3 {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 3%;
	text-align: left;
	text-transform: uppercase;
}

.idea {
	padding: 0px 40px;
	justify-content: center;
	margin: 0 auto;
}
.idea-list img {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.idea h2 {
	font-family: 'Roboto';
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 3%;
	text-align: center;
}
.team {
	background-color: #f5f4fa;
	height: 648px;
	top: 1400px;
}
.team h2 {
	font-family: 'Roboto';
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 3%;
	text-align: center;
	padding-top: 94px;
}
.list li {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 3%;
	text-align: center;
}
.portfolio {
	margin: 0 auto;
}
.portfolio button {
	border: 0;
	border-radius: 4px;
	background: rgb(245, 244, 250);
	color: rgb(33, 33, 33);
}
.portfolio button:hover,
:focus {
	background: #2196f3;
	color: #ffffff;
}
.portfolio button:active {
	background: #1769ac;
	color: #ffffff;
}
.portfolio-galery {
	border: 1px solid rgb(238, 238, 238);
	background: rgb(255, 255, 255);
}
.portfolio img {
	margin: 0;
}
.portfolio li {
	margin: 30px;
}
.but-portf li {
	margin: 8px;
	top: 300px;
}
footer {
	background-color: #2f303a;
	height: 252px;
	padding-top: 50px;
	padding-left: 120px;
}
.foot-bg-logo {
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 3%;
	color: #ffffff;
}
.foot-adress {
	color: #ffffff;
	padding-top: 20px;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 3%;
	text-align: left;
	line-height: 1.5;
}
.foot-adress p {
	margin: 0;
}
.foot-adress a {
	color: #757575;
}
.button-portfolio1 {
	height: 38px;
	width: 73px;
	margin-top: 84px;
}
.button-portfolio2 {
	height: 38px;
	width: 128px;
	margin-top: 84px;
}
.button-portfolio3 {
	height: 38px;
	width: 145px;
	margin-top: 84px;
}
.button-portfolio4 {
	height: 38px;
	width: 103px;
	margin-top: 84px;
}
.button-portfolio5 {
	height: 38px;
	width: 130px;
	margin-top: 84px;
}
