*,
*::before,
*::after {
	box-sizing: border-box;
	font-style: normal;
}
body {
	font-family: 'Roboto', 'Raleway', 'san-serif';
	color: #757575;
	line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
}
a {
	text-decoration: none;
	color: #212121;
}
ul,
ol {
	list-style-type: none;
}
h1,
h2,
h3 {
	color: #212121;
}
button {
	cursor: pointer;
	border: 0;
}
.item {
	text-align: center;
}
.list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}


/* style to header */
.logo {
	font-family: 'Raleway';
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 3%;
	text-align: left;
	top: 24px;
}
.logo-color {
	color: #2196f3;
}
header {
	display: flex;
	justify-content: space-around;
	padding: 0 15px;
	max-width: 100%;
	align-content: center;
}
.header-container {
	display: flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap: wrap;	
}
.main-nav {
	display: flex;
	gap: 30px;
}
.main-nav a{
	transition: box-shadow 0.25s ease;
}
.main-nav a:hover,
.main-nav a:focus {
	color: #2196f3;
	background-color: #ffffff;
	box-shadow: 0 2px 0.5px rgba(33, 150,243, 0.9);
}
.main-nav a:active {
	color: #1168af;
	background-color: #ffffff;
}
.contact-nav ul {
	display: flex;
	justify-content: space-around;
	gap: 30px;
	top: 15px;
}
.container-contact {
	display: flex;
	align-items: center;
	color: #757575;
}
.text-contact{
	display: inline;
}
.container-contact:hover,
.container-contact:focus {
	color: #2196f3;
	background-color: #ffffff;
}
.container-contact:active {
	color: #1168af;
	background-color: #ffffff;
}
@media(max-width: 875px){
	.contact-nav ul{
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}
@media (max-width: 767px)
{
	.contact-nav ul{
		display: flex;
		align-items: center;
	}
	.text-contact{
		display: none;
	}
	.container-contact{
		margin: 2px;
	}
	.logo{
		padding: 10px 0 0 0;
	}
	.main-nav a {
		border-radius: 10px;
		margin: 0;
		padding: 5px;
		box-shadow: 0 2.5px 0px rgba(33, 150, 243, 0.9);
	}
}
/* ----------------------------------------------------------------------------------- */
.button-slogan {
	background-color: #2196f3;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: #ffff;
	font-weight: 700;
	letter-spacing: 0.06em;
	position: static;
	padding: 20px 32px;
	transform: none;
}
.button-slogan:hover,
.button-slogan:focus {
	background-color: #185b91;
}
.button-slogan:active {
	background-color: #0c304d;
}

.slogan {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/hero.png);
	height: 600px;
	max-width:100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.slogan h1 {
	color: rgb(255, 255, 255);
	font-family: 'Roboto';
	font-size: 44px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	position: static;
	width: min(696px, 90%);
	transform: none;
	margin: 0 0 30px 0;
}
/* ------------------------------------------------------------------- */
.prioriti-container {
	padding: 94px 0;
}
.item-prioriti {
	width: 270px;
}
.prioriti-container ul {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.prioriti li {
	flex: 1;
	display: block;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
}
.prioriti-container li h3 {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 3%;
	text-align: center;
	text-transform: uppercase;
}

.idea {
	padding: 94px 15px;
	
}
.idea-list img {
	width: 100%;
	height: auto;
}
.idea h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 0 50px;
}
.idea-list{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0;
	margin: 0;
}
.idea-list li {
flex: 0 1 370px;
}

/*-----------------------------------------------*/
.team {
	background-color: #f5f4fa;
	padding: 50px 0;
	margin: 0;
}
.team h2 {
	font-family: 'Roboto';
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.team h3 {
	font-family: 'Roboto';
	font-size: 19px;
	font-weight: 500;
	letter-spacing: 3%;
	text-align: center;
	margin: 0;
	margin-top: 10px;
}
.list li p {
	margin-top: 0;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-align: center;
}
.list-team{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;
	padding: 0;
	margin: 0;
}
.list-team li {
	background-color: #ffffff;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
		0 1px 3px rgba(0, 0, 0, 0.12);
		margin: 0;
		max-width: 270px;
}
.list-team img {
	margin: 0;
}
.social {
	gap: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 40px;
}

.social-icon {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
}
.social-icon img {
	width: 20px;
	height: 20px;
	transition: filter 0.05s ease;
}
.social-icon:hover {
	background-color: #2196f3;
}
.social-icon img:hover {
	filter: brightness(0) invert(1);
}
.container ul{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	padding: 50px 0;

}
.container h2 {
	display: flex;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 3%;
	line-height: 42px;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.container ul li {
	padding: 20px 30px;
	border: 1px solid rgb(175, 177, 184);
	border-radius: 4px;
	transition: transform 0.1s ease;
}
.container img {
	filter: invert(43%) sepia(74%) saturate(18%) hue-rotate(320deg)
		brightness(90%) contrast(86%);
}
.container ul li:hover,
.container ul li:focus {
	filter: invert(45%) sepia(76%) saturate(1800%) hue-rotate(184deg)
		brightness(97%) contrast(96%);
	transform: scale(1.1);
}

.portfolio {
	margin: 0 auto;
}
.portfolio button {
	border: 0;
	border-radius: 4px;
	background: rgb(245, 244, 250);
	color: rgb(33, 33, 33);
}
.portfolio button:hover,
:focus {
	background: #2196f3;
	color: #ffffff;
}
.portfolio button:active {
	background: #1769ac;
	color: #ffffff;
}
.portfolio-galery {
	border: 1px solid rgb(238, 238, 238);
	background: rgb(255, 255, 255);
	text-align: center;
}
.portfolio img {
	margin: 0;
}
.portfolio li {
	margin: 30px;
}
.but-portf li {
	margin: 8px;
	top: 300px;
}
footer {
	display: flex;
	background-color: #2f303a;

}
.footer-container {
	padding: 20px 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 2px solid white;


}
footer h3 {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 3%;
	text-transform: uppercase;
	color: #ffffff;
}
.foot-bg-logo {
	font-family: 'Raleway';

	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 3%;
	color: #ffffff;
}
.foot-adress {
	color: #ffffff;
	padding-top: 20px;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 3%;
	text-align: left;
	line-height: 1.5;
}
.foot-adress p {
	margin: 0;
}
.foot-adress a {
	color: #757575;
}
.social-footer {
	width: 206px;
	height: 80px;
}
.icon-footer {
	gap: 10px;
	display: flex;
	align-items: center;
}
.social-icon-footer {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.1s ease;
}
.social-icon-footer img {
	width: 20px;
	height: 20px;
	transition: filter 0.05s ease;
}
.social-icon-footer:hover {
	background-color: #2196f3;
}
.social-icon-footer img:hover {
	filter: brightness(0) invert(1);
}
.button-portfolio1 {
	height: 38px;
	width: 73px;
	margin-top: 84px;
}
.button-portfolio2 {
	height: 38px;
	width: 128px;
	margin-top: 84px;
}
.button-portfolio3 {
	height: 38px;
	width: 145px;
	margin-top: 84px;
}
.button-portfolio4 {
	height: 38px;
	width: 103px;
	margin-top: 84px;
}
.button-portfolio5 {
	height: 38px;
	width: 130px;
	margin-top: 84px;
}
.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../images/icons/icon_sprites.png);
	background-repeat: no-repeat;
	background-size: 64px 32px;
	margin-right: 5px;
	vertical-align: middle;
	fill: currentColor;
}
.phone-icon {
	background-position: 0 0;
}

.mail-icon {
	background-position: -32px 0;
}
.mail-icon:hover,
.mail-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
	filter: invert(15%) sepia(87%) saturate(5049%) hue-rotate(196deg)
		brightness(95%) contrast(87%);
}
.prioriti-icon {
	display: flex;
	background-color: #f5f4fa;
	width: 270px;
	height: 120px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: 0 auto 10px;
}
.prioriti-icon img {
	width: 70px;
	height: 70px;
	z-index: 2;
	position: relative;
}
